<div class="team_form_dropdown hide">
  <div class="team_form_dropdown_row">
    <%= current_user.username %>
  </div>
  <% @friends.each do |friend| %>
    <div class="team_form_dropdown_row">
      <%= friend.username %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="form_box_md_container" style="margin-bottom: 100px">
    <form action="/brackets/<%= @bracket.id %>/edit" method="post" id="new_bracket_form">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <div class="col_header" style="margin: 0">
        <div class="col_tab">
          Edit Bracket
        </div>
      </div>
      <div class="form_box_md tabbed" style="margin-top: 0">
        <p>TITLE</p>
        <input type="text" name="bracket[title]" class="form_box_md_input_text" id="title_input" value="<%= @bracket.title %>">
      </div>
      <div class="team_form_box" style="margin-top: 0" id="team1">
        <p>TEAM 1</p>
        <input type="text" name="bracket[teams][]" class="form_box_md_input_text" value="<%= @teams[0].name %>">
      </div>
      <div class="team_form_box" style="margin-top: 0" id="team2">
        <p>TEAM 2</p>
        <input type="text" name="bracket[teams][]" class="form_box_md_input_text" value="<%= @teams[1].name %>">
      </div>
      <% @teams[2, @teams.length - 1].each_with_index do |team, index| %>
        <div class="team_form_box" style="margin-top: 0" id="team<%= index + 3 %>">
          <p>TEAM <%= index + 3 %></p>
          <input type="text" name="bracket[teams][]" class="form_box_md_input_text" value="<%= team.name %>">
        </div>
      <% end %>
      <div class="button_md_gray" style="margin-top: 7px" id="add_team_btn">
        Add Team
      </div>
      <input type="submit" class="button_md_yellow" value="Update">
    </form>
  </div>
</div>
