<div class="container clearfix">
  <% if flash.has?(:message) %>
    <div>
      <%= flash[:message] %>
    </div>
  <% end %>
  <div class="col-60">
    <div class="profile_dash">
      <%= @user.username %><br />
      <div class="trophy_box">
        <img src="/images/trophy_icon_gold4.png" style="height: 40px" /> <%= @golds.count %>
      </div>
      <div class="trophy_box">
        <img src="/images/trophy_icon_silver3.png" style="height: 40px" /> <%= @silvers.count %>
      </div>
    </div>
    <div class="col_header clearfix">
      <a href="/brackets/new"><div class="button_sm_skinny_blue right">New Bracket</div></a>
    </div>
    <% if @brackets.empty? %>
      <div class="col_panel" style="text-align: center; color: #bdbdbd">
        No brackets yet.
      </div>
    <% else %>
      <% @brackets.each do |bracket| %>
        <div class="col_panel clearfix">
          <div style="display: block" class="clearfix">
            <div class="title clearfix">
              <a href="/brackets/<%= bracket.id %>" class="user_link"><%= bracket.title %></a>
            </div>
            <div class="created_at clearfix">
              Updated <%= time_ago_in_words(Time.now, bracket.updated_at) %> ago
            </div>
          </div>
          <div style="display: block">
            <% if bracket.owner_id == current_user.id %><span class="owner">OWNER</span> | <% end %><%= bracket.teams.count %> Teams | <% if bracket.champ_name != nil %>Finished<% else %>In Progress<% end %> | <img src="/images/trophy_icon_gold4.png" style="height: 14px" /> <% if bracket.champ_name != nil %><% if !User.where("username = ?", bracket.champ_name).empty? %><a href="/users/<%= bracket.champ_name %>" class="user_link" style="color: #424242"><%= bracket.champ_name %></a><% else %><%= bracket.champ_name %><% end %><% else %>--<% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-40">
    <div class="col_header">
      <% if @friend_requests.count > 0 %>
        <div class="col_tab">
          Friend Requests (<%= @friend_requests.count %>)
        </div>
        <div class="col_panel tabbed">
          <% @friend_requests.each do |req| %>
            <div class="clearfix" style="line-height: 35px; vertical-align: middle; margin-bottom: 10px">
              <a href="/users/<%= User.find(req.user_id).username %>" class="user_link" style="color: #616161;"><%= User.find(req.user_id).username %></a>
              <form action="/friend_requests/<%= req.id %>/delete" method="post" class="right">
                <input type="hidden" id="hidden" name="_method" value="delete">
                <input class="button_sm_skinny_red right" type="submit" value="N">
              </form>
              <form action="/friendships" method="post" class="right">
                <input type="hidden" name="friend_request_id" value="<%= req.id %>">
                <input class="button_sm_skinny_blue right" style="margin-right: 4px" type="submit" value="Y">
              </form>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col_tab">
        Friends (<%= @friends.count %>)
      </div>
      <div class="col_panel tabbed">
        <form action="/friend_requests" method="post" style="padding: 0; margin: 0; width: 300px">
          <div style="margin-bottom: 25px">
            <div class="search_box_container">
              <input type="text" name="pending_friend_name" class="search_box"><input type="submit" class="search_box_btn" value="Add" />
            </div>
          </div>
        </form>
        <% @friends.each do |friend| %>
          <div class="clearfix" style="line-height: 35px; vertical-align: middle; margin-top: 15px">
            <a href="/users/<%= friend.username %>" class="user_link"><%= friend.username %></a>
            <form action="/friendships/<%= friend.id %>/delete" method="post" class="right">
              <input type="hidden" id="hidden" name="_method" value="delete">
              <input class="button_sm_skinny_red right" type="submit" value="Remove">
            </form>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
